<!DOCTYPE html>
<html>
  <head>
    <title>Hawkish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <ul>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |</li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |</li>
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <% end %>
      </ul>
    </nav>
    <%= yield %>
    <ul>
      <li>
        <%= link_to_if !current_page?(skaters_path), 'All skaters', skaters_path %>
      </li>
      <li>
        <%= link_to_if !current_page?(new_skater_path), 'New skater', new_skater_path %>
      </li>
    <ul>
  </body>
</html>
